<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="{{ description }}" />
    <link rel="icon" href="/favicon.png">
    <link rel="canonical" href="{{ canonicalUrl }}"/>
    <link rel="alternate" type="application/atom+xml" title="{{ siteTitle }}" href="/feed.xml"/>
    <link rel="stylesheet" href="/styles/global.css"/>
    {{ ogMeta }}
    {{ extraHead }}
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/posts">Posts</a>
    </nav>
    <main>
      {{ content }}
    </main>
  </body>
</html>
